@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #1e1f26;
  height: 100vh;
}
.App {
  background: white;
  width: 8.5in;
  min-height: 11in;
  height: 100%;
  margin: auto;
  padding-top: 20px;
}
.SectionLabels {
  margin-top: 10px;
  margin-left: 30px;
  color: rgba(32, 32, 32, 0.753);
}
.SectionLabelsSkill {
  color: rgba(32, 32, 32, 0.753);
  margin-left: -5px;
}
hr {
  margin: 0 auto;
  width: 95%;
}
.EditIcon,
.addIcon {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
.addIcon:hover {
  transform: scale(1.5);
  filter: invert(37%) sepia(94%) saturate(1462%) hue-rotate(166deg)
    brightness(101%) contrast(101%);
}
textarea {
  width: 500px;
  height: 100px;
}
