@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-wrap: break-word;
  background-color: #c0c0c0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
textarea {
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  vertical-align: top;
}

.main-content {
  margin-top: 80px;
}

@media only screen and (min-width: 900px) {
  .main-content {
    display: flex;
    gap: 10px;
  }
}
