@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}
