@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-wrap: break-word;
  background-color: rgb(204, 204, 204);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

button,
input,
textarea {
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

@media only screen and (min-width: 768px) {
  .App {
    display: flex;
    gap: 10px;
  }
}
